<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Search Flight</title>
</head>

<body>
    <div class="container">
        <p class="h4 mb-4">Search Flight</p>

        <form action="#" th:action="@{/customer/flights/search/results}"
              th:object="${flightQuery}" method="POST" onsubmit="return validateAirportSelection()">

            <input type="hidden" th:field="*{id}">

            <label for="airline">Select an Airline:</label>
            <select id="airline" name="airline" th:field="*{airline}" class="form-control mb-4 w-25">
                <option value="0">-</option>
                <option th:each="airline : ${airlines}" th:value="${airline.id}" th:text="${airline.name}"></option>
            </select >

            <label for="source">Select a Source Airport:</label>
            <select id="source" name="source" th:field="*{sourceAirport}" class="form-control mb-4 w-25">
                <option value="0">-</option>
                <option th:each="airport : ${airports}" th:value="${airport.id}" th:text="${airport.name}"></option>
            </select >

            <label for="destination">Select a Destination Airport:</label>
            <select id="destination" name="source" th:field="*{destinationAirport}" class="form-control mb-4 w-25">
                <option value="0">-</option>
                <option th:each="airport : ${airports}" th:value="${airport.id}" th:text="${airport.name}"></option>
            </select >

            <label for="departureDate">Departure Date:</label>
            <input type="date" id="departureDate" name="departureDate" class="form-control mb-4 w-25" th:field="*{departureDate}"
                   th:value="${#temporals.format(flightQuery.departureDate, 'yyyy-MM-dd')}" />


            <button type="submit" class="btn btn-info col-2">Search</button>
        </form>
        <hr>
        <p>
            <a th:href="@{/}">Back to Homepage</a>
        </p>
    </div>

    <script>
        function validateAirportSelection() {
            var sourceAirport = document.getElementById("source").value;
            var destinationAirport = document.getElementById("destination").value;

            if (sourceAirport === destinationAirport and sourceAirport != 0) {
                alert("Source and destination airports cannot be the same.");
                return false;
            }

            return true;
        }
    </script>
</body>

</html>