<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Access Denied - You are not authorized to access this resource.</h2>
            <p>
                <a th:href="@{/}" class="btn btn-primary">Back to Homepage</a>
            </p>
            <form action="#" th:action="@{/logout}" method="POST">
                <input type="submit" class="btn btn-danger" value="Logout" />
            </form>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS (optional, only required if you want to use Bootstrap JavaScript components) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
