<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Booking</title>
</head>

<body>
    <div class="container">
        <h3> Booking Directory</h3>
        <hr>
        <p class="h4 mb-4">Save Booking</p>

        <form action="#" th:action="@{/bookings/save}"
              th:object="${booking}" method="POST" >

            <!-- Add a hidden form field to handle the update id=0 will create a new entity in DB-->
            <input type="hidden" th:field="*{id}">

            <label for="customer">Select a Customer:</label>
            <select id="customer" name="customer" th:field="*{customer}" class="form-control mb-4 w-25">
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.firstName}"></option>
            </select >

            <label for="flight">Select a Flight:</label>
            <select id="flight" name="flight" th:field="*{flight}" class="form-control mb-4 w-25">
                <option th:each="flight : ${flights}" th:value="${flight.id}" th:text="${flight.id}"></option>
            </select >

            <label for="numberOfPersons">Number of Passengers:</label>
            <input type="number" id="numberOfPersons" name="numberOfPersons" class="form-control mb-4 w-25"
                   step="1" pattern="\d+" th:field="*{numberOfPersons}" />


            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
        <a th:href="@{/bookings/list}">Back to Bookings List</a>
    </div>


    <!-- Date field does not load content without -->
</body>

</html>